AdaptiveCards/power-automate-enhanced-with-read-buttons.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "When_a_new_email_arrives_(V3)": {
        "type": "ApiConnectionWebhook",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['outlook']['connectionId']"
            }
          },
          "body": {
            "NotificationUrl": "@{listCallbackUrl()}"
          },
          "path": "/MailSubscriptionPoke/$subscriptions"
        },
        "conditions": [
          {
            "expression": "@or(equals(triggerBody()?['importance'], 'High'), contains(triggerBody()?['subject'], '[IMPORTANT]'))"
          }
        ]
      }
    },
    "actions": {
      "Create_SharePoint_Item": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['sharepointonline']['connectionId']"
            }
          },
          "method": "post",
          "body": {
            "Title": "@triggerBody()?['subject']",
            "MessageContent": "@triggerBody()?['bodyPreview']",
            "Priority": "High",
            "ExpiryDate": "@addDays(utcNow(), 7)",
            "TargetAudience": "@join(triggerBody()?['toRecipients'], '; ')",
            "Source": "Outlook"
          },
          "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://gustafkliniken.sharepoint.com/sites/Gustafkliniken'))}/tables/@{encodeURIComponent(encodeURIComponent('Important Messages'))}/items"
        },
        "runAfter": {}
      },
      "Parse_Recipients": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['toRecipients']",
          "schema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "emailAddress": {
                  "type": "object",
                  "properties": {
                    "address": {"type": "string"},
                    "name": {"type": "string"}
                  }
                }
              }
            }
          }
        },
        "runAfter": {
          "Create_SharePoint_Item": ["Succeeded"]
        }
      },
      "For_Each_Recipient": {
        "type": "Foreach",
        "foreach": "@body('Parse_Recipients')",
        "actions": {
          "Send_Teams_Card_to_Individual": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['teams']['connectionId']"
                }
              },
              "method": "post",
              "body": {
                "recipient": {
                  "to": "@items('For_Each_Recipient')?['emailAddress']?['address']"
                },
                "messageBody": {
                  "contentType": "application/vnd.microsoft.card.adaptive",
                  "content": {
                    "type": "AdaptiveCard",
                    "version": "1.3",
                    "body": [
                      {
                        "type": "Container",
                        "style": "attention",
                        "items": [
                          {
                            "type": "TextBlock",
                            "text": "📧 Important Email Confirmation Required",
                            "weight": "Bolder",
                            "size": "Large",
                            "color": "Light"
                          }
                        ]
                      },
                      {
                        "type": "FactSet",
                        "facts": [
                          {
                            "title": "Subject:",
                            "value": "@{triggerBody()?['subject']}"
                          },
                          {
                            "title": "From:",
                            "value": "@{triggerBody()?['from']?['emailAddress']?['name']}"
                          },
                          {
                            "title": "Sent:",
                            "value": "@{triggerBody()?['sentDateTime']}"
                          },
                          {
                            "title": "Priority:",
                            "value": "@{triggerBody()?['importance']}"
                          }
                        ]
                      },
                      {
                        "type": "TextBlock",
                        "text": "@{if(greater(length(triggerBody()?['bodyPreview']), 200), concat(substring(triggerBody()?['bodyPreview'], 0, 200), '...'), triggerBody()?['bodyPreview'])}",
                        "wrap": true,
                        "spacing": "Medium"
                      },
                      {
                        "type": "Container",
                        "style": "emphasis",
                        "items": [
                          {
                            "type": "TextBlock",
                            "text": "⚠️ Please confirm that you have read this important email by clicking the button below.",
                            "wrap": true,
                            "weight": "Bolder",
                            "size": "Small"
                          }
                        ]
                      }
                    ],
                    "actions": [
                      {
                        "type": "Action.Http",
                        "title": "✅ I Have Read This Email",
                        "url": "https://prod-xx.westus.logic.azure.com/workflows/read-confirmation/triggers/manual/paths/invoke",
                        "method": "POST",
                        "body": {
                          "messageId": "@{body('Create_SharePoint_Item')?['ID']}",
                          "userEmail": "@{items('For_Each_Recipient')?['emailAddress']?['address']}",
                          "userName": "@{items('For_Each_Recipient')?['emailAddress']?['name']}",
                          "originalSubject": "@{triggerBody()?['subject']}",
                          "readTimestamp": "@{utcNow()}"
                        },
                        "style": "positive"
                      },
                      {
                        "type": "Action.OpenUrl",
                        "title": "📊 View Full Dashboard",
                        "url": "https://gustafkliniken.sharepoint.com/sites/Gustafkliniken/SitePages/ManagerDashboard.aspx"
                      },
                      {
                        "type": "Action.OpenUrl", 
                        "title": "📧 Open Original Email",
                        "url": "@{triggerBody()?['webLink']}"
                      }
                    ]
                  }
                }
              },
              "path": "/v1.0/chats/@{encodeURIComponent('chat-id')}/messages"
            }
          }
        },
        "runAfter": {
          "Parse_Recipients": ["Succeeded"]
        }
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "outlook": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/outlook",
          "connectionName": "outlook",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/outlook"
        },
        "sharepointonline": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/sharepointonline",
          "connectionName": "sharepointonline", 
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/sharepointonline"
        },
        "teams": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/teams",
          "connectionName": "teams",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/teams"
        }
      }
    }
  }
}
